.PdxBadge {
  position: relative;
  display: inline-flex;
}

.PdxBadgeCount {
  position: absolute;
  top: -6px;
  right: -6px;
  min-width: 18px;
  height: 18px;
  padding: 0 4px;
  border-radius: var(--radius-full);
  background-color: var(--danger-color);
  color: var(--bg-canvas);
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.PdxBadgeCount.Dot {
  width: 10px;
  height: 10px;
  min-width: 10px;
  padding: 0;
}
