@use './PdxField.scss';
@use '../foundation/control' as control;

.PdxDatePicker {
  width: 100%;
}

.PdxDatePickerControl {
  @include control.field-control-size(36px, var(--spacing-md));

  padding-inline-end: var(--spacing-xs);
}

.PdxDatePicker.Small .PdxDatePickerControl {
  @include control.field-control-size(
    32px,
    var(--spacing-sm),
    var(--font-size-xs)
  );

  padding-inline-end: var(--spacing-xs);
}

.PdxDatePicker.Large .PdxDatePickerControl {
  @include control.field-control-size(
    44px,
    var(--spacing-md),
    var(--font-size-md)
  );

  padding-inline-end: var(--spacing-xs);
}
