@use './PdxField.scss';
@use '../foundation/control' as control;

.PdxTimePicker {
  width: 100%;
}

.PdxTimePickerControl {
  @include control.field-control-size(36px, var(--spacing-md));

  padding-inline-end: var(--spacing-xs);
}

.PdxTimePickerPanel {
  min-width: var(--radix-popover-trigger-width);
}

.PdxTimePicker.Small .PdxTimePickerControl {
  @include control.field-control-size(
    32px,
    var(--spacing-sm),
    var(--font-size-xs)
  );

  padding-inline-end: var(--spacing-xs);
}

.PdxTimePicker.Large .PdxTimePickerControl {
  @include control.field-control-size(
    44px,
    var(--spacing-md),
    var(--font-size-md)
  );

  padding-inline-end: var(--spacing-xs);
}
